<header>
  <h1 class="header-title">Just write what you want to do and a Smart Todolist will be built for you!</h1>
  <p class="header-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum tempora quasi nam quod explicabo enim, aspernatur incidunt quae ad et atque delectus quos eveniet sit nisi odio quaerat est impedit.</p>
  <button id="do-it-action" class="btn">Do it now</button>
</header>
