<div id="loginModal" class="login-modal-container">
    <div class="form-container">
        <span class="close">&times;</span>
        <form class="login-form" action="/api/users/login" method="POST">
            <label class="label-user" for="login-email">Email</label>
            <input type="text" name="email" id="login-email" placeholder="email">
            <label class="label-pass" for="login-password">Password</label>
            <input type="password" name="password" id="login-password" placeholder="Password">
            <button type="submit" class="btn btn-login">LOG IN NOW</button>
        </form>
    </div>
</div>
