<div id="addTodoModal" class="modal-container">
  <div class="form-container">
      <span class="close">&times;</span>
      <form class="modal-form" action="/api/todos/addToDo" method="POST">
          <label class="label-name" for="addTodo-name">Add a Todo</label>
          <input type="text" name="name" id="addTodo-name" placeholder="Write you want to do!">
      </form>
  </div>
</div>
