<div id="editModal" class="modal-container">
  <div class="form-container">
    <span class="close">&times;</span>
    <form class="modal-form" action="/api/todos/updateToDo" method="POST">
      <label class="label-user" for="category">Category</label>
      <input type="text" name="category" id="category" placeholder="Change category">
      <label class="label-pass" for="todo">Todo Description</label>
      <input type="text" name="todo" id="todo" placeholder="Change todo">
      <button type="submit" class="btn">Save Edit</button>
    </form>

  </div>
</div>
