<div id="myModal" class="login-modal-container">
  <div class="form-container">
    <span class="close">&times;</span>
    <form class="login-form" action="/login" method="POST">
      <label class="label-user" for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="username">
      <label class="label-pass" for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password">
    </form>
    <button class="btn btn-login">LOG IN NOW</button>
  </div>
</div>