<nav>
    <div class="nav-icon">
        <i class="fa-solid fa-pencil fa-xl"></i>
        <a class="title" href="#">Smart-Todolist</a>
    </div>
    <div class="nav-login">
        <% if (!isLoggedIn) { %>
            <button id="openLoginModalBtn" class="btn btn-signin">Sign In</button>
            <button id="openRegisterModalBtn" class="btn btn-register">Register</button>
        <% } else { %>
            <span class="user-email"><%= userEmail %></span>
            <button class="btn btn-logout">Logout</button>
        <% } %>
    </div>
</nav>
