<nav>
  <div class="nav-icon">
    <i class="fa-solid fa-pencil fa-xl"></i>
    <a class="title" href="#">Smart-Todolist</a>
  </div>
  <div class="nav-login">
    <button id="openModalBtn" class="btn btn-signin">Sign In</button>
    <button class="btn btn-register">Register</button>
  </div>
</nav>