<nav>
  <div class="nav-icon">
    <img src="/public/imgs/vector-flat-logo-design-pineapple-colorful-variation-61600405.png" alt="Smart-Todolist logo">
    <a class="title" href="#">Smart-Todolist</a>
  </div>
  <div class="nav-login">
    <button class="btn btn-signin">Sign In</button>
    <button class="btn btn-register">Register</button>
  </div>
</nav>
